html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 0;
}
h1 {
  font-size: 68px;
  letter-spacing: -1px;
  color: #fff;
}
h2 {
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 39.5px;
  color: #031B4E;
}
h3 {
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 39.5px;
  color: #031B4F;
}
h4 {
  font-size: 18px;
  line-height: 25.5px;
  color: #031B4E;
}
h5 {
  font-size: 18px;
  letter-spacing: 0.7;
  text-transform: uppercase;
  color: #5B6987;
}
p {
  font-size:16px;
  font-weight: 400;
  color: #5B6987;
}
a {
  font-size: 16px;
}
.p--large {
  font-size: 24px;
}
.p--medium {
 font-size: 20px;
}
.a--section {
  text-decoration: none;
  color: #006AFF;
}
.a--section:hover {
  text-decoration: none;
  color: #1633FF;
}

/* COLORS */
.bg--primary {
  background-color: #031B4F;
}
.bg--secondary {
  background-color: #006AFF;
}
.bg--white {
  background-color: #fff;
}
.text--primary {
  color: #031B4F;
}
.text--secondary {
  color: #006AFF;
}
.text--grey {
  color: #5B6987;
}
.text--white {
  color: #fff;
}

/* UTILITY */
.container__small {
  max-width: 970px;
  margin: auto;
}
.list-inline {
  margin-bottom: 0px;
}

/* BUTTONS */
.btn, .btn:focus, .btn:active:focus {
  outline: none;
}
.btn--signup {
  color: #006AFF;
  background-color: #fff;
  border: 1px solid #006AFF;
  transition: 0.5s
}
.btn--signup:hover {
  color: #fff;
  background-color: #006AFF;
  border: 1px solid #006AFF
}
.btn--mobile {
  background-color: transparent;
  font-size: 18px;
  padding: 0px;
}
.btn--fulllwidth {
  width: calc(100% - 40px);
  margin: 10px 20px 0;
  font-weight: 500;
  height: 35px;
}
.btn--account {
  color: #fff;
  background-color: rgb(0,106,255, 0.70);
  transition: 0.5s;
}
.btn--account:hover {
  color: #fff;
  background-color: rgb(0,106,255);
}
.btn--google {
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  position: relative;
}
.btn--google:active {
  background: #F3F5F9;
  transform: translate(1px, 1px);
}
.btn--start {
  color: #006AFF;
  background-color: #fff;
  border: 1px solid #fff;
  transition: 0.5s;
}
.btn--start:hover {
  opacity: 0.5;
  color: #006AFF;
}

/* HEADER */
header a {
  color: #031B4F;
  font-weight: 500;
  text-decoration: none;
}
header a:hover {
  color: #006AFF;
  font-weight: 500;
  text-decoration: none;
}
header .ico {
  font-size: 14px;
  margin-left: 2px;
}

/* Header Top */
#header_top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 75px;
  line-height: 75px;
  background-color: white;
}
#logo img {
  height: 35px;
}
/* Hero */
#header_hero {
  min-height: 580px;
  margin-top: 75px;
  /* background-image: url("../img/hero-bg.svg"); */
  background-color: #006AFF;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  padding: 75px 0;
}
.hero__text {
  margin: 0 25px;
  padding: 20px 0;
}
.hero__text .p--large {
  color: rgba(255, 255, 255, 0.6);
  margin: 15px 0;
}
.hero__signup {
  background-color: #fff;
  border-radius: 5px;
  padding: 45px 0;
}
.hero__signup h3 {
  margin-bottom: 5px;
}
.hero__signup a {
  font-size: inherit;
  text-decoration: underline;
  color: #006AFF;
}
.hero__signup small {
  display: inline-block;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 500;
}
.form--signup input {
  height: 50px;
  border: 1px solid rgb(229,232,237, 0.5);
  border-radius: 5px;
  padding-left: 5px;
}
.form--signup input, .form--sigunp input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 3;
}
.btn--google img {
  height: 24px;
  opacity: 70%;
  position: absolute;
  left: 10px;
}

/* MAIN */
/* Reliable banner */
#reliable {
  background-color: #F3F5F9;
  padding: 50px 0 25px;
}
#reliable img {
  width: calc((100% / 6) - 4px);
  padding: 5px;
}

/* Process section */
#process {
  padding: 75px 0 60px;
}
#process h2 {
  margin-bottom: 10px;
}
.process__list {
  padding-bottom: 30px;
}
.process__list li {
  border-left: 2px solid rgb(203,203,203, 0.5);
  border-radius: 1px;
  transition: 0.3s linear;
}
.process__list a {
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  color: rgb(91,105,135, 0.7);
}
.process__list li:hover {
  border-left: 2px solid #006AFF;
}
.process__list li:hover a {
  color: #031B4E;
}
.process__box {
  padding-top: 60px;
}
.process__list_icon {
  margin-bottom: 20px;
}
.process__box h4 {
  margin: 15px 0;
}

/* Carousel section */
#carousel {
  background-color: #F3F5F9;
  padding: 75px 0 60px;
}
#carousel .p--medium {
  margin: 30px 0 60px;
}
.carousel__slideshow img {
  max-width: 60%;
  height: auto;
  margin: 0 20px;
}
.carousel__slideshow button, .reputation__slideshow button {
  border: none;
  opacity: 50%;
  color: #031B4F;
  background-color: transparent;
  transition: 0.5s;
}
.carousel__slideshow button:hover, .reputation__slideshow button:hover{
  opacity: 100%;
}
.carousel__slideshow p {
  font-weight: 500;
  margin: 20px 0;
}
.carousel__bullet {
  color: #006AFF;
}

/* Features section */
#features {
  padding: 75px 0;
}
#features img {
  height: 70px;
  width: 70px;
  margin: 15px 0;
}
#features h2 {
  margin-bottom: 20px;
}
#features h4 {
  margin: 5px 0;
}

/* Customers section */
#customers {
  background-color: #031B4F;
  background-image: url("../img/map-section-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 0 40px;
}
#customers table {
  border-top: hidden;
}
#customers h2 {
  margin-bottom: 20px;
  font-size: 38px;
}
#customers th {
  color: white;
}
#customers td {
  color: rgba(255, 255, 255, 0.6);
}
#customers a {
  color: #00D7D2;
  font-size: 14px;
  text-decoration: none;
}

/* Reputation carousel section */
#reputation {
  background-color: #F3F5F9;
  padding: 75px 0 60px;
}
.reputation__slideshow button {
  display: inline-block;
  vertical-align: middle;
}
.slideshow__slide {
  display: inline-block;
  vertical-align: middle;
  max-width: 60%;
  height: auto;
  margin: 90px 20px 30px;
  padding: 75px 0;
  background-color: #fff;
}
.slideshow__slide img {
  max-width: 300px;
  width: 90%;
  height: auto;
}
.slideshow__slide blockquote {
  border: 0;
  margin: 10px 0 5px;
}

/* Get start banner */
#getstart {
  background-image: url("../img/background-pattern.svg");
  background-size: cover;
  padding: 75px 0 60px;
}
#getstart h2 {
  margin-bottom: 20px;
}

/* FOOTER */
footer {
  background-color: #031B4F;
  padding: 75px 0 60px;
}

/* Footer left */
.footer__left p:first-of-type {
  color: rgba(255, 255, 255, 0.6);
  margin: 10px 0 5px;
}
.footer__left a {
  display: inline-block;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.3);
  transition: 0.3s;
  margin-bottom: 15px;
}
.footer__left a:hover {
  color: rgba(255, 255, 255, 0.6);
}
/* Footer right */
.footer__right li {
  margin: 10px 0;
}
.footer__right a {
  color: rgba(255, 255, 255, 0.6);
}

/* SAMMY THE SHARK */
.sammy {
  position: fixed;
  right: 50px;
  bottom: 50px;
}
.sammy::before {
  content: "2";
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  text-align: center;
  background-color: #CA0C0C;
  color: #fff;
  border: 4px solid #fff;
  border-radius: 50%;
  box-sizing: content-box;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}
.sammy__btn {
  display: inline-block;
  height: 70px;
  line-height: 70px;
  width: 70px;
  border: none;
  border-radius: 5px;
  background-color: #006AFF;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  padding: 0;
}
.sammy__btn img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/* RESPONSIVE */
@media screen and (max-width: 992px) {
  h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .btn--google img {
  display: none;
  }
  #reliable img {
    width: calc((100% / 2) - 12px);
    display: inline-block;
    padding: 20px;
  }
  h5, .a__section {
    font-size: 22px;
  }
  .carousel__slideshow button, .reputation__slideshow button {
    display: none;
  }
}
